<div class="flex-col md:flex-row flex gap-2 justify-between align-items-center flex-wrap mt-2 mb-4">
  <div class="flex-col sm:flex-row flex gap-2 justify-between align-items-center">
    <!-- Search Input -->
    <div class="flex flex-col gap-1 ">
      <label for="global-search" class="text-xs text-surface-400">Filter</label>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText (input)="onSearch($event)" type="text" placeholder="Search" />
      </span>
    </div>
    <!-- Field Select Dropdown -->
    <div class="flex flex-col gap-1">
      <label for="field-filters" class="text-xs text-surface-400">Fields</label>
      <p-multiSelect
        id="field-filters"
        [options]="fieldOptions"
        [(ngModel)]="selectedFieldsList"
        (onChange)="onSelectionChange()"
        optionLabel="label"
        selectedItemsLabel="{0} fields shown"
        [style]="{minWidth: '200px'}"
        placeholder="Choose visible fields"
      />
    </div>
    <!-- Sort Select Dropdown -->
    <div class="flex flex-col gap-1" *ngIf="selectedLayout">
      <label for="field-filters" class="text-xs text-surface-400">Sort</label>
      <p-dropdown
        id="field-filters"
        [options]="sortOptions"
        [(ngModel)]="sortOrder"
        (onChange)="onSortChange($event)"
        optionLabel="label"
        selectedItemsLabel="sorted by {0}"
        [style]="{minWidth: '160px'}"
      />
    </div>
    <!-- Layout Toggle -->
    <div class="flex flex-col gap-1">
      <label for="field-filters" class="text-xs text-surface-400">Layout</label>
      <p-selectButton 
        [(ngModel)]="selectedLayout"
        [options]="layoutOptions"
        (onChange)="onLayoutChange($event.value)"
        optionLabel="label" 
        optionValue="value">
        <ng-template let-option pTemplate>
          <i [class]="option.icon"></i>
        </ng-template>
      </p-selectButton>
    </div>
  </div>
  <!-- Add Domain Button -->
  <p-splitButton
    *ngIf="showAddButton"
    label="Add Domain"
    (onClick)="showQuickAddDialog()"
    icon="pi pi-plus"
    class="w-fit"
    aria-label="Add Domain"
    [model]="addButtonLinks"
  />
</div>


<p-dialog 
    header="Add New Domain" 
    [modal]="true"
    [(visible)]="quickAddDialogOpen"  
    [breakpoints]="{ '1199px': '50vw', '575px': '90vw' }" 
    [maximizable]="true">
    <app-quick-add-domain ($afterSave)="afterDomainAdded($event)" [isInModal]="true" />
</p-dialog>
