<p-splitter 
  [panelSizes]="hideSideBar ? [5, 95] : [25, 75]"
  styleClass="h-full min-h-[80vh] px-1 py-2 bg-transparent border-none">
    <ng-template pTemplate>
      <nav #sidebarNav class="border-surface-50 border-2 w-full rounded-l p-1 !border-r-0 bg-surface-25">
        <a routerLink="/stats" class="no-underline text-default transition-all hover:text-primary">
          @if (!hideTextLabels) {
            <h3 class="m-3">Domain Statistics</h3>
          } @else {
            <a routerLink="/stats" class="flex gap-2 align-items-center no-underline text-inherit text-md
              rounded-lg py-2 px-3 transition-all ease-in-out hover:surface-50
              {{ isActive('/stats') ? 'font-bold text-primary' : 'text-default'}}"
              pTooltip="Domain Statistics: Index Page"
              >
              <i class="pi pi-sparkles opacity-70"></i>
            </a>
          }
        </a>
        <ul class="list-none p-0 mt-2 flex flex-col gap-0.5 w-fit">
          @for (item of items; track item.label) {
            <li class="rounded-lg py-2 px-3 transition-all ease-in-out hover:surface-50
              {{ isActive(item['routerLink']) ? 'font-bold text-primary' : 'text-default'}}"
              [pTooltip]="item['description']"
              showDelay="350"  
            >
              <a routerLink="{{ item['routerLink'] }}" class="flex gap-2 align-items-center no-underline text-inherit text-md">
                <i class="{{ item.icon }} opacity-70"></i>
                <span *ngIf="!hideTextLabels">{{ item.label }}</span>
              </a>
            </li>
          }
        </ul>
      </nav>
    </ng-template>
    <ng-template pTemplate>
      <div class="py-2 px-4 w-full border-2 !border-l-0 border-surface-50 rounded-r overflow-y-auto">
        @if (statsEnabled$ | async) {
          <router-outlet></router-outlet>
        } @else {
          <app-feature-not-enabled feature="visualStats" />
        }
      </div>
    </ng-template>
</p-splitter>
