<h1 class="mb-4">Service Statuses</h1>
<p class="text-lg mb-0">
  We're actively monitoring health of Domain Locker, and all third-party integrations we rely upon.
  This is so we can offer you the best possible experience.
  This page provides live information about the current state of our service,
  as well as a log of any ongoing incidents or scheduled maintenance.
</p>


<!-- Current Status -->
<div class="p-card px-4 py-3 mt-4">
  <div class="flex items-center gap-3">
    <i class="pi pi-check-circle text-green-400 text-6xl"></i>
    <div>
      <h4 class="font-medium text-2xl m-0">Domain Locker is Operational</h4>
      <p class="m-0">
        All critical systems are functioning normally. There are no major incidents or outages reported at this time.
      </p>
    </div>
  </div>
</div>


<div class="flex flex-col gap-4 mt-4">

  <!-- Current Status -->
  <div class="p-card px-4 py-3">
    <h2 class="mb-1">Current Service Summary</h2>

    <p class="opacity-70 mt-0">Tip: Click an item to expand details</p>
    
    <div *ngIf="internalStatusInfo$ | async as internal">
      <p-divider class="my-4" />
      <h3>Web Application</h3>
      <ul class="list-none p-0 mt-2">
        <li *ngFor="let s of currentStatuses" class="flex">
          <details>
            <summary class="flex cursor-pointer hover:bg-surface-100 rounded pr-2">
              <span class="font-medium flex-shrink-0 w-56 flex items-center space-x-2">{{s.name}}</span>
              <span *ngIf="s.status; else notOperational" class="flex items-center"><i class="pi pi-check-circle text-green-400 mr-1"></i> Operational</span>
              <ng-template #notOperational>
                <span class="flex items-center"><i class="pi pi-times-circle text-red-400 mr-1"></i> Unavailable</span>
              </ng-template>
            </summary>
            <p *ngIf="s.extraInfo" class="mt-0 text-sm opacity-70 italic">
                Historical uptime is {{ s.extraInfo.uptimePercent }}% with an average ping of {{ s.extraInfo.averagePing }}ms
                (latency range is {{s.extraInfo.minPing}} to {{s.extraInfo.maxPing}}ms).
            </p>
          </details>
        </li>
      </ul>
    </div>


    <div *ngIf="internalStatusInfo$ | async as internal">
      <p-divider class="my-4" />
      <h3>Database</h3>
      <ul class="list-none p-0 mt-2">
        <li class="flex">
          <span class="font-medium flex-shrink-0 w-56 flex items-center space-x-2">Platform</span>
          <span *ngIf="internal.supabase.undetermined" class="flex items-center"><i class="pi pi-exclamation-circle text-yellow-400 mr-1"></i> Undetermined</span>
          <span *ngIf="internal.supabase.healthy === true" class="flex items-center"><i class="pi pi-check-circle text-green-400 mr-1"></i> Operational</span>
          <span *ngIf="!internal.supabase.undetermined && !internal.supabase.healthy" class="flex items-center"><i class="pi pi-times-circle text-red-400 mr-1"></i> Unavailable</span>
        </li>
        <li class="flex">
          <span class="font-medium flex-shrink-0 w-56 flex items-center space-x-2">Serverless Functions</span>
          <span *ngIf="internal.database.up; else notOperational" class="flex items-center"><i class="pi pi-check-circle text-green-400 mr-1"></i> Operational</span>
          <ng-template #notOperational>
            <span class="flex items-center"><i class="pi pi-times-circle text-red-400 mr-1"></i> Unavailable</span>
          </ng-template>
        </li>
        <li class="flex">
          <span class="font-medium flex-shrink-0 w-56 flex items-center space-x-2">Database</span>
          <span *ngIf="internal.database.db; else notOperational" class="flex items-center"><i class="pi pi-check-circle text-green-400 mr-1"></i> Operational</span>
          <ng-template #notOperational>
            <span class="flex items-center"><i class="pi pi-times-circle text-red-400 mr-1"></i> Unavailable</span>
          </ng-template>
        </li>
        <li class="flex">
          <span class="font-medium flex-shrink-0 w-56 flex items-center space-x-2">Environment Config</span>
          <span *ngIf="internal.database.env; else notOperational" class="flex items-center"><i class="pi pi-check-circle text-green-400 mr-1"></i> Operational</span>
          <ng-template #notOperational>
            <span class="flex items-center"><i class="pi pi-times-circle text-red-400 mr-1"></i> Unavailable</span>
          </ng-template>
        </li>
      </ul>
    </div>

    <div *ngIf="internalStatusInfo$ | async as internal">
      <p-divider class="my-4" />
      <h3>Scheduled Tasks</h3>
      <ul class="list-none p-0 mt-2">
        <li *ngFor="let s of internal.scheduled" class="flex" [title]="s.desc">
          <details>
            <summary class="flex cursor-pointer hover:bg-surface-100 rounded pr-2">
              <span class="font-medium flex-shrink-0 w-56 flex items-center space-x-2">{{s.name}}</span>
              <span class="flex items-center">
                <div *ngIf="s.status === 'up'; else downStatus">
                  <i class="pi pi-check-circle text-green-400 mr-1"></i> Completed
                </div>
                <ng-template #downStatus>
                  <i class="pi pi-times-circle text-red-400 mr-1"></i> Behind Schedule
                </ng-template>
              </span>
            </summary>
            <p class="mt-0 text-sm opacity-70 italic">
              Last ping was at {{ s.last_ping | date:"d MMM 'at' HH:mm" }}, and took {{ s.last_duration }}ms.
              The next check is scheduled to be completed by {{ s.next_ping ? (s.next_ping | date:"d MMM 'at' HH:mm") : 'tonight' }}.
              There have been {{ s.n_pings}} pings.
            </p>
          </details>
        </li>
      </ul>
    </div>

    <div *ngIf="internalStatusInfo$ | async as internal">
      <p-divider class="my-4" />
      <h3>CI/CD Jobs</h3>
      <ul class="list-none p-0 mt-2">
        <li *ngFor="let s of internal.ghActions" class="flex">
          <details>
            <summary class="flex cursor-pointer hover:bg-surface-100 rounded pr-2">
              <span class="font-medium flex-shrink-0 w-56 flex items-center space-x-2 truncate">{{s.name}}</span>
              <span class="flex items-center">
                <div *ngIf="s.conclusion === 'success'">
                  <i class="pi pi-check-circle text-green-400 mr-1"></i> Passing
                </div>
                <div *ngIf="s.status === 'in_progress' || s.status === 'queued'">
                  <i class="pi pi-info-circle text-blue-400 mr-1"></i> Running
                </div>
                <div *ngIf="s.status === 'completed' && s.conclusion !== 'success'">
                  <i class="pi pi-times-circle text-red-400 mr-1"></i> Failing
                </div>
              </span>
            </summary>
            <p class="mt-0 text-sm opacity-70 italic">
              This job is currently {{s.state}}.
              Last run at {{s.created_at | date: 'medium' }} is {{s.status}}
              against {{s.head_branch}} and was triggered by a {{s.run_event}}.
              <br>
              Links: <a [href]="s.html_url">Workflow Source</a> | <a [href]=s.run_html_url>Workflow Logs</a>
            </p>
          </details>
        </li>
      </ul>
    </div>

    <div *ngIf="statusInfo$ | async as statusInfo">
      <p-divider class="my-4"></p-divider>
      <h3>Third-Party Services</h3>
      <div class="flex flex-col">
        <div *ngFor="let item of statusInfo.summary" class="flex flex-col sm:flex-row mb-1">
          <div class="flex-shrink-0 w-56 flex items-center space-x-2">
            <app-domain-favicon *ngIf="item.serviceMeta"
              [domain]="item.serviceMeta.upstreamSite || item.serviceMeta.url"
              [size]="20" />
            <span class="font-medium">{{ item.service }}</span>
          </div>
          <div class="flex-grow">
            <i class="pi pi-circle" [ngClass]="{
              'text-red-400 pi-times-circle': item.status === 'critical',
              'text-yellow-400 pi-exclamation-circle': item.status === 'minor',
              'text-blue-400 pi-info-circle': item.status === 'info',
              'text-green-400 pi-check-circle': item.status === 'operational',
              'text-gray-400 pi-minus-circle': item.status === 'unknown'
            }"></i>
            {{ item.details }}
            <a *ngIf="item.link" title="View incident details" [href]="item.link" target="_blank">
              <i class="pi pi-external-link text-[10px]"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- App response and uptime chart -->
  <div *ngIf="uptimeChartUrl" class="p-card px-4 py-3">
    <h2 class="mt-4">Recent Response Time History</h2>
    <img [src]="uptimeChartUrl" alt="Uptime response time chart" class="w-full max-w-[36rem] mx-auto flex" />
  </div>

  <!-- Recent Incidents -->
  <div class="p-card px-4 py-3" *ngIf="statusInfo$ | async as statusInfo; else loading" >
    <h2 class="mb-4">Third-Party Disruptions</h2>
    <div class="flex items-center justifty-between justify-around gap-4">
      <img *ngIf="historyChartUrl" [src]="historyChartUrl" alt="Incident History Chart" class="max-w-96" />
      <img *ngIf="pieChartUrl" [src]="pieChartUrl" alt="Incident History Chart" class="max-w-96" />
    </div>
    <p-divider class="my-4"></p-divider>
    <h3>Recent Incidents</h3>
    <ul class="list-none p-0 transition-all duration-300">
      <li *ngFor="let item of statusInfo.history | slice:0:(showAllHistory ? statusInfo.history.length : 10)"
          class="flex items-between sm:items-center gap-1 sm:gap-2 mb-1 flex-col sm:flex-row">
        <span class="flex-shrink-0 whitespace-nowrap">
          <i class="pi pi-circle" [ngClass]="{
            'text-red-400 pi-times-circle': item.severity === 'critical',
            'text-yellow-400 pi-exclamation-circle': item.severity === 'minor',
            'text-blue-400 pi-info-circle': item.severity === 'info',
            'text-green-400 pi-check-circle': item.severity === 'operational',
            'text-gray-400 pi-minus-circle': item.severity === 'unknown'
          }"></i>
          {{ item.date | date:"d MMM 'at' HH:mm" }}
        </span>
        <span class="flex-shrink-0 whitespace-nowrap font-medium">
          <app-domain-favicon *ngIf="item.serviceMeta"
            [domain]="item.serviceMeta.upstreamSite || item.serviceMeta.url"
            [size]="16" />
          {{ item.service }}:
        </span>
        <span class="flex-grow min-w-0 truncate">
          {{ item.details }}
        </span>
        <a class="flex-shrink-0 px-[0.25rem] py-[0.1rem] rounded transition-all hover:bg-surface-100"
           [href]="item.link" target="_blank">
          Details ↪
        </a>
        <p-divider class="block sm:hidden" [style]="{ 'flex-grow': '1' }"></p-divider>
      </li>
    </ul>
    <div class="flex w-full justify-end">
      <p-button
        severity="primary"
        [label]="showAllHistory ? 'View Less' : 'View More'"
        [icon]="showAllHistory ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
        (click)="showAllHistory = !showAllHistory"
      />
    </div>

    <p-divider class="my-4" />

    <h3>Scheduled Maintenance</h3>
    <ul class="list-none p-0 transition-all duration-300">
      <li *ngFor="let item of statusInfo.scheduled | slice:0:(showAllScheduled ? statusInfo.scheduled.length : 10)"
          class="flex items-between sm:items-center gap-1 sm:gap-2 mb-1 flex-col sm:flex-row">
        <span class="flex-shrink-0 whitespace-nowrap">
          <i class="pi pi-history text-purple-400"></i>
          {{ item.date | date:"d MMM 'at' HH:mm" }}
        </span>
        <span class="flex-shrink-0 whitespace-nowrap font-medium">
          <app-domain-favicon *ngIf="item.serviceMeta"
            [domain]="item.serviceMeta.upstreamSite || item.serviceMeta.url"
            [size]="16" />
          {{ item.service }}:
        </span>
        <span class="flex-grow min-w-0 truncate">
          {{ item.details }}
        </span>
        <a class="flex-shrink-0" [href]="item.link" target="_blank">
          Details ↪
        </a>
        <p-divider class="block sm:hidden" [style]="{ 'flex-grow': '1' }"></p-divider>
      </li>
    </ul>
    <div class="flex w-full justify-end">
      <p-button
        severity="primary"
        [label]="showAllScheduled ? 'View Less' : 'View More'"
        [icon]="showAllScheduled ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
        (click)="showAllScheduled = !showAllScheduled"
      />
    </div>
  </div>
  
</div>
<ng-template #loading>
  <p>Loading status info...</p>
</ng-template>
