<div *ngIf="loading" class="p-progressSpinner"></div>
<div *ngIf="!loading && (updates$ | async) as updates" class="relative">

  @if (showFilters) {
    <div class="flex flex-wrap gap-2 mb-4 flex-row">
      <p-dropdown
        [options]="changeCategories"
        [(ngModel)]="selectedCategory"
        placeholder="Select Category"
        styleClass="w-full md:w-2/6 flex-1"
      ></p-dropdown>

      <ng-container *ngIf="!domainName">
        <input pInputText type="text" placeholder="Domain" [(ngModel)]="filterDomain" styleClass="w-full md:w-2/6 flex-1" />
      </ng-container>

      <p-selectButton
        [options]="changeTypes"
        [(ngModel)]="selectedChangeType"
        styleClass="w-full md:w-2/6 flex-none"
      ></p-selectButton>

      <button pButton label="Apply Filters" (click)="applyFilters()" icon="pi pi-check-circle"></button>
      <button pButton pTooltip="Clear Filters" (click)="clearFilters()" icon="pi pi-times-circle" severity="secondary"></button>
    </div>
  }

  <button pButton
  *ngIf="updates.length > 0 || showFilters"
    [label]="(showFilters ? 'Hide' : 'Show') + 'Filters'"
    (click)="toggleFilters()"
    size="small"
    [class]="(showFilters ? 'mb-4' : 'float-right my-4 filter-button')"
    icon="pi pi-sliders-h"></button>

  <div class="flex flex-col gap-1">
    @for (update of updates; track update.id) {
      <div class="flex flex-row gap-2">
          <p class="m-0">
            @if (update.change_type === 'added') {
              <i pTooltip="Addition" class="pi pi-plus text-green-700 mx-2"></i>
            } @else if (update.change_type === 'removed') {
              <i pTooltip="Removal" class="pi pi-minus text-red-700 mx-2"></i>
            } @else {
              <i pTooltip="Update" class="pi pi-pencil text-blue-700 mx-2"></i>
            }
          </p>
          <p class="m-0">{{ formatDate(update.date) }}</p> -
          @if (!domainName) {
            @if (update.domains) {
              <a class="m-0 text-default" [routerLink]="'/domains/'+update.domains.domain_name">{{ update.domains.domain_name }}</a>
            } @else {
              <a class="m-0 text-default" [routerLink]="'/domains/'+update.domain_name">{{ update.domain_name }}</a>
            }
            -
          }
          @if (update.old_value && update.new_value) {
            <p class="m-0 flex gap-2 change-summary">
              <span class="text-blue-400">{{ mapChangeKey(update.change) }} updated</span>
              from
              <span class="font-mono">{{ update.old_value || 'N/A' }}</span>
              to
              <span class="font-mono">{{ update.new_value || 'N/A' }}</span>
            </p>
          } @else if (update.new_value) {
            <p class="m-0 flex gap-2 change-summary">
              <span class="text-green-400">{{ mapChangeKey(update.change) }} added</span>
              <span class="font-mono">{{ update.new_value || 'N/A' }}</span>
            </p>
          } @else if (update.old_value) {
            <p class="m-0 flex gap-2 change-summary">
              <span class="text-red-400">{{ mapChangeKey(update.change) }} removed</span>
              <span class="font-mono">{{ update.old_value || 'N/A' }}</span>
            </p>
          }
      </div>
    }
  </div>
  <div *ngIf="updates.length === 0" class="text-center">
    <p class="my-4 text-2xl text-center italic text-surface-400">
      <i class="pi pi-info-circle text-2xl mr-2"></i>
      No updates recorded yet
    </p>
    @if (this.selectedCategory || this.selectedChangeType || this.filterDomain) {
      <button pButton label="Clear Filters" (click)="clearFilters()" class="mx-auto"></button>
    }
  </div>
</div>

<p-paginator
  *ngIf="totalRecords > 25"
  styleClass="mt-4 border-0"
  [rows]="25"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="[25, 50, 100]"
  (onPageChange)="onPageChange($event)"
></p-paginator>
