
<div *ngIf="calendarHeatmap; else loading" class="flex gap-3 my-3">
  <div class="p-card p-3 flex-1 flex flex-col gap-3">
    <apx-chart
    *ngIf="calendarHeatmap"
    [series]="calendarHeatmap.series"
    [chart]="calendarHeatmap.chart"
    [plotOptions]="calendarHeatmap.plotOptions"
    [xaxis]="calendarHeatmap.xaxis"
    [tooltip]="calendarHeatmap.tooltip"
    [dataLabels]="calendarHeatmap.dataLabels"
    [yaxis]="calendarHeatmap.yaxis"
  />
  </div>
  <div class="p-card p-3 flex flex-col gap-3 w-64">
    <apx-chart
      *ngIf="responseCodePieChart"
      [series]="responseCodePieChart.series"
      [chart]="responseCodePieChart.chart"
      [labels]="responseCodePieChart.labels"
      [colors]="responseCodePieChart.colors"
      [tooltip]="responseCodePieChart.tooltip"
      [legend]="responseCodePieChart.legend"
    />
  </div>
</div>

  <ng-template #loading>
    <p>Loading uptime history...</p>
  </ng-template>
