<!-- Heading and action buttons -->
<div class="flex items-center justify-between mb-4 w-full">
  <h2 class="m-0">Subdomains for {{ domain }}</h2>
  <div class="flex gap-2">
    <p-button
      label="Refresh"
      icon="pi pi-refresh"
      severity="secondary"
      (click)="searchForSubdomains()"
      size="small"
    ></p-button>
    <p-button
      label="Add Subdomain"
      icon="pi pi-plus"
      size="small"
      severity="secondary"
      (click)="addSubdomainDialog.showDialog()"
    ></p-button>
    <p-button
      label="View Parent Domain"
      icon="pi pi-arrow-up-right"
      severity="secondary"
      [routerLink]="['/domains', domain]"
      size="small"
    ></p-button>
  </div>
</div>

<!-- Loading spinner -->
<p-progressSpinner *ngIf="loading" class="flex mt-8" />

<!-- Results -->
<app-subdomain-list
  *ngIf="!loading && subdomains.length"
  [domain]="domain"
  [subdomains]="subdomains"
></app-subdomain-list>

<!-- Not found message -->
<app-not-found
  *ngIf="!loading && !subdomains.length"
  title="No Subdomains Found"
  [name]="this.domain"
  message="either doesn't exist or hasn't yet got any associated subdomains"
  [actionLink]="false"
>
  <p-button
    *ngIf="validDomain"
    label="Search for Subdomains"
    icon="pi pi-search"
    class="p-button-secondary mt-4"
    (click)="searchForSubdomains()"
  ></p-button>
</app-not-found>

<!-- Add new subdomain dialog -->
<app-add-subdomain-dialog #addSubdomainDialog [domain]="domain" />
