
<div *ngIf="links?.linksWithDomains?.length" class="flex flex-wrap items-center justify-between">
  <h1 class="m-0">Links</h1>

  <div class="flex gap-2 items-center">

    <div *ngIf="displayBy === 'by-domain'" class="flex flex-col gap-2 items-center">
      <label for="showAutoLinks" class="text-sm opacity-80">Show Auto Links</label>
      <p-inputSwitch [(ngModel)]="showAutoLinks" inputId="showAutoLinks" (onChange)="onShowAutoLinksChange($event.checked)" />
    </div>
    <p-selectButton
      [options]="displayByOptions" 
      [(ngModel)]="displayBy" 
      optionLabel="label" 
      optionValue="value"
      (onChange)="onDisplayByChange($event)"
    />
    <p-button icon="pi pi-plus" label="Add Link" (click)="addNewLink()" />
  </div>
</div>

<!-- No links yet -->
<div
  *ngIf="!links?.linksWithDomains?.length"
  class="p-card p-4 my-4 mx-auto max-w-96 flex flex-col gap-2">
  <h2 class="m-0">
    <i class="pi pi-link text-3xl"></i>
    Domain Links
  </h2>
  <p class="m-0">
    Here you can keep track of all domain-related links,
    such as login portals, documentation, website analytics, associated social media profiles, etc.
  </p>
  <p-button icon="pi pi-plus" label="Add Link" (click)="addNewLink()" class="my-2 mx-auto" />
</div>

<p-contextMenu #menu [model]="contextMenuItems" appendTo="body" />

@if (displayBy === 'all-links' && links?.linksWithDomains?.length) {
  <ul class="list-none p-0 m-0 mt-4 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 2xl:grid-cols-8 gap-3">
    <li *ngFor="let link of links?.linksWithDomains" class="w-full flex">
      <app-domain-link
        class="w-full"
        [linkUrl]="link.link_url"
        [linkName]="link.link_name"
        [linkDescription]="link.link_description"
        [associatedDomains]="link.domains"
        (contextMenu)="onRightClick($event, link)"
      />
    </li>
  </ul>
}

@if (displayBy === 'by-domain') {
  <div *ngFor="let domain of links?.groupedByDomain | keyvalue; last as isLast" class="mt-4">
    <a [routerLink]="'/domains/' + domain.key" class="no-underline text-default hover:text-primary">
      <h2 class="mt-3 mb-2">{{ domain.key }}</h2>
    </a>
    
    <!-- User's Links -->
    @if (domain.value && domain.value.length) {
      <h3 class="uppercase text-surface-200 text-sm mt-4 mb-2" *ngIf="showAutoLinks">Links</h3>
      <ul class="list-none p-0 m-0 mt-4 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 2xl:grid-cols-8 gap-3">
        <li *ngFor="let link of (domain.value)" class="w-full flex">
          <app-domain-link
            class="w-full"
            [linkUrl]="link.link_url"
            [linkName]="link.link_name"
            [linkDescription]="link.link_description"
            (contextMenu)="onRightClick($event, link)"
          />
        </li>
      </ul>
    }

    <!-- Auto-links (subdomains, IPs, providers, core pages) -->
    @if (customSections[domain.key] && customSections[domain.key]) {
      @for (subHeading of objKeys(customSections[domain.key]); track subHeading) {
        <h3 class="uppercase text-surface-200 text-sm mt-4 mb-2">{{ subHeading }}</h3>
        <ul class="list-none p-0 m-0 mt-4 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 2xl:grid-cols-8 gap-3">
          <li *ngFor="let link of customSections[domain.key][subHeading]" class="w-full flex">
            <app-domain-link
              class="w-full"
              [linkUrl]="link.link_url"
              [linkName]="link.link_name"
              [linkDescription]="link.link_description"
            />
          </li>
        </ul>
      }
    }
    <p-divider *ngIf="!isLast" class="my-4" />
  </div>
}

