::ng-deep .p-overlaypanel-content {
  padding: 0;
  .notification-row {
    padding: 1rem !important;
  }
}

::ng-deep p-sidebar .p-sidebar.p-sidebar-active .p-sidebar-content {
  padding: 0;
}

::ng-deep .p-menuitem-content:hover a span.p-menuitem-icon {
  color: var(--primary-color);
 }

::ng-deep .p-sidebar-header {
  align-items: baseline;
}

::ng-deep .p-menubar.p-menubar-mobile-active p-menubarsub ul.p-menubar-root-list {
  position: absolute;
  min-width: 10rem;
  }
