<div class="domain-uptime">
  
  <div class="flex justify-between mb-3 items-end gap-3 items-center">
    <div class="flex gap-3 flex-wrap">
      <div class="flex flex-col p-card p-3 w-40 gap-3">
        <strong class="font-semibold">Average Uptime</strong>
        <span *ngIf="uptimePercentage" class="text-{{ getUptimeColor(uptimePercentage, '') }}">
          {{ uptimePercentage.toFixed(2) }}%
        </span>
      </div>
      <div class="flex flex-col p-card p-3 w-40 gap-3">
        <strong class="font-semibold">Current Status</strong>
        <span [class.text-green-400]="isUp" [class.text-red-400]="!isUp">
          {{ isUp ? '✅ Up' : ' ❌ Down' }}
        </span>
      </div>
      <div class="flex flex-col p-card p-3 w-80 gap-3">
        <strong class="font-semibold">Response Codes</strong>
        <ul class="list-none p-0 m-0 flex gap-1 flex-wrap">
          <li *ngFor="let code of responseCodes; last as isLast">
            <span [style]="'color:'+getResponseCodeColor(code.code) ">{{ code.code }}</span>
            <span class="opacity-70"> ({{ code.percentage }}%)</span>
            <span *ngIf="!isLast">, </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col gap-1 flex-1 items-end">
      <label for="advanced-mode-switch" class="text-sm opacity-70">Advanced</label>
      <p-inputSwitch
        [(ngModel)]="advancedMode"
        (onChange)="onAdvancedModeChange()"
        inputId="advanced-mode-switch"
      />
    </div>
    <p-selectButton 
      [options]="timeframeOptions" 
      [(ngModel)]="timeframe"
      (onChange)="onTimeframeChange($event.value)"
      >
        <ng-template let-item pTemplate>
          <span class="capitalize font-semibold">{{ item }}</span>
        </ng-template>
    </p-selectButton>
  </div>


  <div class="flex gap-3 w-full">
    <!-- Timing cards -->
    <div class="flex flex-col gap-3 min-w-40">
      <!-- 1. Response time -->
      <div class="p-card p-3 flex flex-col gap-2 h-full">
        <strong class="font-semibold">Response Time</strong>
        @if (hoveredResponseTime) {
          <span [class]="getPerformanceColor(hoveredResponseTime.value, 'response')">
            {{ round(hoveredResponseTime.value) }} ms
          </span>
          <span class="text-xs opacity-70">
            On {{ formatTimeStamp(hoveredResponseTime.date) }}
          </span>
        } @else {
          <span [class]="getPerformanceColor(avgResponseTime, 'response')">
            {{ round(avgResponseTime) }} ms
          </span>
          @if (minMaxResponseTime) {
            <p class="text-xs m-0 opacity-70">
              From
              <span [class]="getPerformanceColor(minMaxResponseTime.max, 'response')" >{{ round(minMaxResponseTime.max) }} ms</span>
              to
              <span [class]="getPerformanceColor(minMaxResponseTime.min, 'response')">{{ round(minMaxResponseTime.min) }} ms</span>
            </p>
          }
        }
      </div>
      <div class="p-card p-3 flex flex-col gap-2 h-full">
        <strong class="font-semibold">DNS Time</strong>
        @if (hoveredDnsTime) {
          <span [class]="getPerformanceColor(hoveredDnsTime.value, 'dns')">
            {{ round(hoveredDnsTime.value) }} ms
          </span>
          <span class="text-xs opacity-70">
            On {{ formatTimeStamp(hoveredDnsTime.date) }}
          </span>
        } @else {
          <span [class]="getPerformanceColor(avgDnsTime, 'dns')">
            {{ round(avgDnsTime) }} ms
          </span>
          @if (minMaxDnsTime) {
            <p class="text-xs m-0 opacity-70">
              From
              <span [class]="getPerformanceColor(minMaxDnsTime.max, 'dns')" >{{ round(minMaxDnsTime.max) }} ms</span>
              to
              <span [class]="getPerformanceColor(minMaxDnsTime.min, 'dns')">{{ round(minMaxDnsTime.min) }} ms</span>
            </p>
          }
        }
      </div>
      <div class="p-card p-3 flex flex-col gap-2 h-full">
        <strong class="font-semibold">SSL Time</strong>
        @if (hoveredSslTime) {
          <span [class]="getPerformanceColor(hoveredSslTime.value, 'ssl')">
            {{ round(hoveredSslTime.value) }} ms
          </span>
          <span class="text-xs opacity-70">
            On {{ formatTimeStamp(hoveredSslTime.date) }}
          </span>
        } @else {
          <span [class]="getPerformanceColor(avgSslTime, 'ssl')">
            {{ round(avgSslTime) }} ms
          </span>
          @if (minMaxSslTime) {
            <p class="text-xs m-0 opacity-70">
              From
              <span [class]="getPerformanceColor(minMaxSslTime.max, 'ssl')" >{{ round(minMaxSslTime.max) }} ms</span>
              to
              <span [class]="getPerformanceColor(minMaxSslTime.min, 'ssl')">{{ round(minMaxSslTime.min) }} ms</span>
            </p>
          }
        }
      </div>
    </div>

    <!-- Charts -->
    <div class="p-card p-3 flex-1 flex flex-col gap-3">
      <div class="flex-1 flex flex-col justify-between">
        <apx-chart
          *ngIf="responseTimeChart"
          [series]="responseTimeChart.series"
          [chart]="responseTimeChart.chart"
          [stroke]="responseTimeChart.stroke"
          [xaxis]="responseTimeChart.xaxis"
          [tooltip]="responseTimeChart.tooltip"
          [ngClass]="{'advanced-mode': advancedMode}"
        />
        <span class="text-center text-xs opacity-70">
          Response Time (ms)
          for the {{mapTimeToSentence(timeframe)}}
        </span>
        </div>
      <div class="flex-1 flex flex-col justify-between">
        <apx-chart
          *ngIf="dnsTimeChart"
          [series]="dnsTimeChart.series"
          [chart]="dnsTimeChart.chart"
          [stroke]="dnsTimeChart.stroke"
          [xaxis]="dnsTimeChart.xaxis"
          [tooltip]="dnsTimeChart.tooltip"
          [ngClass]="{'advanced-mode': advancedMode}"
        ></apx-chart>
        <span class="text-center text-xs opacity-70">DNS Resolution Time (ms)</span>
      </div>
      <div class="flex-1 flex flex-col justify-between">
        <apx-chart
          *ngIf="sslTimeChart"
          [series]="sslTimeChart.series"
          [chart]="sslTimeChart.chart"
          [stroke]="sslTimeChart.stroke"
          [xaxis]="sslTimeChart.xaxis"
          [tooltip]="sslTimeChart.tooltip"
          [ngClass]="{'advanced-mode': advancedMode}"
        ></apx-chart>
        <span class="text-center text-xs opacity-70">SSL Handshake Time (ms)</span>
      </div>
    </div>
  </div>
</div>
