<h1 class="mt-2 mb-4">DNS Records</h1>
<p-tabView>
  <!-- TXT Records Tab -->
  <p-tabPanel header="TXT">
    <p-table 
      [value]="txtRecords" 
      [loading]="loadingTxt" 
      [paginator]="true" 
      [rows]="10" 
      sortable="true" 
      [tableStyle]="{'min-width': '50rem'}"
      class="p-datatable">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="record_value" style="width: 300px;">Record Value <p-sortIcon field="record_value"></p-sortIcon></th>
          <th>Associated Domains</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record>
        <tr>
          <td>{{ record.record_value }}</td>
          <td>
            <a 
              *ngFor="let domain of record.domains; let last = last" 
              [routerLink]="'/domains/'+domain" 
              class="text-primary">
              {{ domain }}<br *ngIf="!last"/>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>

  <!-- NS Records Tab -->
  <p-tabPanel header="NS">
    <p-table 
      [value]="nsRecords" 
      [loading]="loadingNs" 
      [paginator]="true" 
      [rows]="10" 
      sortable="true" 
      [tableStyle]="{'min-width': '50rem'}"
      class="p-datatable">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="record_value" style="width: 300px;">Record Value <p-sortIcon field="record_value"></p-sortIcon></th>
          <th>Associated Domains</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record>
        <tr>
          <td>{{ record.record_value }}</td>
          <td>
            <a 
              *ngFor="let domain of record.domains; let last = last" 
              [routerLink]="'/domains/'+domain" 
              class="text-primary">
              {{ domain }}<br *ngIf="!last"/>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>

  <!-- MX Records Tab -->
  <p-tabPanel header="MX">
    <p-table 
      [value]="mxRecords" 
      [loading]="loadingMx" 
      [paginator]="true" 
      [rows]="10" 
      sortable="true" 
      [tableStyle]="{'min-width': '50rem'}"
      class="p-datatable">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="record_value" style="width: 300px;">Record Value <p-sortIcon field="record_value"></p-sortIcon></th>
          <th>Associated Domains</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record>
        <tr>
          <td>{{ record.record_value }}</td>
          <td>
            <a 
              *ngFor="let domain of record.domains; let last = last" 
              [routerLink]="'/domains/'+domain" 
              class="text-primary">
              {{ domain }}<br *ngIf="!last"/>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>

  <!-- Domains (TXT) -->
  <p-tabPanel header="Domains (TXT)">
    <p-table 
      [value]="txtDomains" 
      [loading]="loadingTxt" 
      [paginator]="true" 
      [rows]="10" 
      sortable="true" 
      [tableStyle]="{'min-width': '50rem'}"
      selectionMode="single"
      class="p-datatable">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="domain" style="width: 300px;">Domain <p-sortIcon field="domain"></p-sortIcon></th>
          <th>TXT Records</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-domain>
        <tr (click)="navigateToDomain(domain.domain)" class="cursor-pointer">
          <td>{{ domain.domain }}</td>
          <td>
            <span *ngFor="let record of domain.records; let last = last">{{ record }}<br *ngIf="!last"/></span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>

  <!-- Domains (NS) -->
  <p-tabPanel header="Domains (NS)">
    <p-table 
      [value]="nsDomains" 
      [loading]="loadingNs" 
      [paginator]="true" 
      [rows]="10" 
      sortable="true" 
      [tableStyle]="{'min-width': '50rem'}"
      selectionMode="single"
      class="p-datatable">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="domain" style="width: 300px;">Domain <p-sortIcon field="domain"></p-sortIcon></th>
          <th>NS Records</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-domain>
        <tr (click)="navigateToDomain(domain.domain)" class="cursor-pointer">
          <td>{{ domain.domain }}</td>
          <td>
            <span *ngFor="let record of domain.records; let last = last">{{ record }}<br *ngIf="!last"/></span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>

  <!-- Domains (MX) -->
  <p-tabPanel header="Domains (MX)">
    <p-table 
      [value]="mxDomains" 
      [loading]="loadingMx" 
      [paginator]="true" 
      [rows]="10" 
      sortable="true" 
      [tableStyle]="{'min-width': '50rem'}"
      selectionMode="single"
      class="p-datatable">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="domain" style="width: 300px;">Domain <p-sortIcon field="domain"></p-sortIcon></th>
          <th>MX Records</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-domain>
        <tr (click)="navigateToDomain(domain.domain)" class="cursor-pointer">
          <td>{{ domain.domain }}</td>
          <td>
            <span *ngFor="let record of domain.records; let last = last">{{ record }}<br *ngIf="!last"/></span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>
