<div class="p-card py-3 px-4 my-4">
  <h2 class="my-1 font-semmibold">Features</h2>
  <p class="text-xl italic my-2 opacity-80">
    Domain Locker is your all-in-one tool for managing and monitoring your domain portfolio, all from one simple dashboard.
  </p>
  <p class="my-3">
    Your domains are the foundation of your online presence— give them the attention they deserve.
    With Domain Locker, you can track, organize, and protect your domains effortlessly.
    Never lose track of renewals, forget where a domain is registered, or stress over DNS settings again.
  </p>
  <p class="my-3">
    We fetch and monitor everything for you—SSL certificates, DNS, IPs, security, and more—so you don't have to.
    Get instant notifications when something important changes, visualize your portfolio with beautiful stats and charts, and even track valuations and costs.
    Whether you have one domain or hundreds, Domain Locker gives you the tools you need to stay on top of it all.
  </p>
</div>

<app-feature-grid class="my-4" />

<app-cta />
