::ng-deep .masonry .p-card {
  margin-bottom: 1.5rem;
  break-inside: avoid !important;
  .p-card-content {
    padding-top: 0;
  }
  .p-card-header {
    padding: 20px 0 0 20px;
    position: relative;
  }
  .p-card-body {
    padding: 0 20px 20px 20px;
  }
}
::ng-deep .p-card-header {
  position: relative;
}

::ng-deep h5 {
  @apply mt-3 mb-1;
}
::ng-deep p {
  @apply m-0;
}
