
<div class="flex items-center justify-center h-full flex-col gap-4">

  <!-- Demo Instance -->
   <div *ngIf="isDemoInstance" class="max-w-[500px] w-[calc(100%-0.5rem)]">
    <p-messages severity="info">
      <ng-template pTemplate>
          <app-logo />
          <div class="ml-2 flex flex-col gap-2">
            <span class="font-semibold">This instance is running in demo-mode</span>
            <span>
              Data saved here will be reset daily. Some features have been disabled for security.
            </span>
          </div>
      </ng-template>
    </p-messages>
  </div>

  <!-- New User, welcome -->
  <div *ngIf="showWelcomeCard && !isAuthenticated" class="max-w-[500px] w-[calc(100%-0.5rem)]">
    <h2 class="font-semibold text-primary">Welcome!</h2>
    <p class="m-0">Domain chaos ends here—you're just moments away from total control</p>
  </div>

  <!-- User already authenticated -->
  <p-card *ngIf="isAuthenticated && !requireMFA" class="max-w-[500px] w-[calc(100%-0.5rem)]">
    <ng-template pTemplate="title">Your Signed In</ng-template>
    <div class="flex gap-2 flex-wrap md:flex-nowrap">
      <a class="w-full" routerLink="/domains">
        <p-button severity="primary" label="Go to Account" class="w-full" styleClass="w-full" icon="pi pi-user"></p-button>
      </a>
      <p-button severity="secondary" label="Sign Out" class="w-full" styleClass="w-full" (click)="signOut()" icon="pi pi-sign-out"></p-button>
    </div>
  </p-card>

  <!-- Social login options -->
  <p-card *ngIf="!isAuthenticated && !requireMFA && !showPasswordResetForm && (enableSocialLogin$ | async)"
    class="max-w-[500px] w-[calc(100%-0.5rem)]">
    <ng-template pTemplate="title">
      Continue With
    </ng-template>
    <div class="flex gap-2 justify-between flex-col sm:flex-row">
      <p-button class="flex-1" label="GitHub" [outlined]="true" icon="pi pi-github" styleClass="w-full" (click)="loginWithGitHub()"></p-button>
      <p-button class="flex-1" label="Google" [outlined]="true" icon="pi pi-google" styleClass="w-full" (click)="loginWithGoogle()"></p-button>
      <p-button class="flex-1" label="Facebook" [outlined]="true" icon="pi pi-facebook" styleClass="w-full" (click)="loginWithFacebook()"></p-button>
    </div>
  </p-card>

  <!-- Reset Password -->
  <p-card *ngIf="showPasswordResetForm"
    class="max-w-[500px] w-[calc(100%-0.5rem)]">
    <ng-template pTemplate="title">
      Reset Password
    </ng-template>

    <form *ngIf="showNewPasswordSetForm" [formGroup]="form" (ngSubmit)="saveUpdatedPassword()" class="p-fluid">
      <p>
        Enter your new password below. This will be used to sign in to your account.
      </p>
      <div class="mb-4">
        <label for="password" class="block">New Password</label>
        <p-password id="password" formControlName="password" [toggleMask]="true"
                    [promptLabel]="'Enter new password'"
                    weakLabel="Too simple" mediumLabel="Average complexity" strongLabel="Complex password"
                    [feedback]="true"></p-password>
        <p-message *ngIf="form.get('password')?.invalid && form.get('password')?.touched" severity="error"
                  text="Password is required and must be at least 6 characters long"></p-message>
      </div>

      <p-button type="submit" label="Set New Password" styleClass="w-full"
                [disabled]="form.invalid || disabled" [loading]="showLoader"></p-button>
      <p-message *ngIf="errorMessage" severity="error" [text]="errorMessage" styleClass="w-full mt-4"></p-message>
      <p-message *ngIf="successMessage" severity="success" [text]="successMessage" styleClass="w-full mt-4"></p-message>
    </form>

    <form *ngIf="!showNewPasswordSetForm" [formGroup]="form" (ngSubmit)="sendPasswordResetEmail()" class="p-fluid">
      <p>
        Enter your email address and we will send you a link to reset your password.
      </p>
      <div class="mb-4">
        <label for="email" class="block">Email</label>
        <input type="email" pInputText id="email" formControlName="email" />
        <p-message *ngIf="form.get('email')?.invalid && form.get('email')?.touched" severity="error"
                  text="Valid email is required"></p-message>
      </div>
      <p-button type="submit" label="Send Reset Link" styleClass="w-full"
                [disabled]="disabled" [loading]="showLoader"></p-button>
      <p-message *ngIf="errorMessage" severity="error" [text]="errorMessage" styleClass="w-full mt-4"></p-message>
      <p-message *ngIf="successMessage" severity="success" [text]="successMessage" styleClass="w-full mt-4"></p-message>

      <a (click)="togglePasswordResetForm()"
        class="flex justify-center mt-3 mx-auto underline cursor-pointer text-sm opacity-70 text-center">
        Remembered Password?
      </a>
    </form>

  </p-card>

  <!-- Multi-factor auth code input -->
  <p-card *ngIf="requireMFA" class="max-w-[500px] w-[calc(100%-0.5rem)]">
    <ng-template pTemplate="title">
      Multi-Factor Authentication
    </ng-template>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid">
      <p>
        You've enabled multi-factor authentication for your account.
        To complete your login, you need to provide the 6-digit code from your authenticator app.
      </p>
      <div class="mb-4">
        <label for="mfaCode" class="block">2FA Code</label>
        <p-inputOtp formControlName="mfaCode" [integerOnly]="true" [length]="6" />
        <p-message *ngIf="form.get('mfaCode')?.invalid && form.get('mfaCode')?.touched" severity="error"
                  text="A valid MFA code is required"></p-message>
      </div>
      <p-button type="submit" label="Complete Login" styleClass="w-full"
      [disabled]="form.invalid" [loading]="showLoader"></p-button>
      <p-message *ngIf="errorMessage" severity="error" [text]="errorMessage" styleClass="w-full mt-4"></p-message>
    </form>
  </p-card>

  <!-- Login and signup form  -->
  <p-card *ngIf="!isAuthenticated && !requireMFA && !showPasswordResetForm" class="w-full max-w-[500px] w-[calc(100%-0.5rem)]">
    <ng-template pTemplate="title">
      {{ isLogin ? 'Login' : 'Sign Up' }}
    </ng-template>
    <ng-template pTemplate="subtitle">
      Welcome to Domain Locker
    </ng-template>
    <ng-template pTemplate="content">
      <p-selectButton [options]="modes" [(ngModel)]="isLogin" optionLabel="label" optionValue="value"
                      (onChange)="onModeChange()"></p-selectButton>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid">
        <div class="mb-4">
          <label for="email" class="block">Email</label>
          <input type="email" pInputText id="email" formControlName="email" />
          <p-message *ngIf="form.get('email')?.invalid && form.get('email')?.touched" severity="error"
                    text="Valid email is required"></p-message>
        </div>

        <div class="mb-4">
          <label for="password" class="block">Password</label>
          <p-password id="password" formControlName="password" [toggleMask]="true"
                      [promptLabel]="isLogin ? 'Enter password' : 'Choose a password'"
                      weakLabel="Too simple" mediumLabel="Average complexity" strongLabel="Complex password"
                      [feedback]="!isLogin"></p-password>
          <p-message *ngIf="form.get('password')?.invalid && form.get('password')?.touched" severity="error"
                    text="Password is required and must be at least 6 characters long"></p-message>
        </div>

        <div *ngIf="!isLogin" class="mb-4">
          <label for="confirmPassword" class="block">Confirm Password</label>
          <p-password id="confirmPassword" formControlName="confirmPassword" [toggleMask]="true"
                      [feedback]="false"></p-password>
          <p-message *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" severity="error"
                    text="Passwords do not match"></p-message>
        </div>

        <div *ngIf="!isLogin" class="mb-4">
          <p-checkbox formControlName="acceptTerms" [binary]="true" label="I agree to the terms and conditions"></p-checkbox>
          <a routerLink="/about/legal/terms-of-service" class="no-underline inline pr-2 text-lg" pTooltip="View Terms">*</a>
          <p-message *ngIf="form.get('acceptTerms')?.invalid && form.get('acceptTerms')?.touched" severity="error"
                    text="You must agree to the terms and conditions"></p-message>
        </div>

        <!--  Captcha -->
        <ngx-turnstile
          *ngIf="turnstileSiteKey"
          class="text-center mb-4"
          [siteKey]="turnstileSiteKey"
          (resolved)="sendCaptchaResponse($event)"
          theme="auto"
          [tabIndex]="0"
        />

        <p-button type="submit" [label]="isLogin ? 'Login' : 'Sign Up'" styleClass="w-full"
                  [disabled]="form.invalid || disabled" [loading]="showLoader"></p-button>

      
        <a *ngIf="isLogin" (click)="togglePasswordResetForm()"
          class="flex justify-center mt-3 mx-auto underline cursor-pointer text-sm opacity-70 text-center">
          Forgotten Password?
        </a>
      
      </form>
      <p-message *ngIf="errorMessage" severity="error" [text]="errorMessage" styleClass="w-full mt-4"></p-message>
      <p-message *ngIf="successMessage" severity="success" [text]="successMessage" styleClass="w-full mt-4"></p-message>

      <p-messages *ngIf="showResendEmail" severity="secondary">
        <ng-template pTemplate>
          <div class="w-full flex justify-between">
            Not received verification email?
            <p-button
              (click)="resendVerificationEmail()"
              [loading]="showLoader"
              label="Resend"
              icon="pi pi-refresh"
              size="small"
              severity="secondary"
              styleClass="px-4 py-1" />
          </div>
        </ng-template>
      </p-messages>
    </ng-template>
  </p-card>

</div>
