
<h2 class="text-2xl font-semibold my-2">Privacy Settings</h2>
<p class="italic text-lg opacity-70 m-0">
  With Domain Locker, you are in control of your data, and how it's used.
</p>
<div [formGroup]="form" class="flex flex-col gap-4 my-4">
  <!-- Hit Counting -->
  <div class="p-card p-4">
    <div class="flex justify-between w-full items-center">
      <h3 class="font-semibold text-lg m-0">Hit Counting</h3>
      <p-toggleButton
        formControlName="hitCounting"
        onLabel="Enabled"
        offLabel="Disabled"
        styleClass="px-3 py-2"
        [onIcon]="'pi pi-check-circle'"
        [offIcon]="'pi pi-minus-circle'"
      ></p-toggleButton>
      </div>
      <p class="opacity-85 m-0 mt-2">
        This enables us to see approximate number of active sessions on Domain Locker,
        and helps us ensure we're provisioning enough resources to provide a smooth experience to everyone.
      </p>
      <p class="opacity-85 m-0 mt-2">
        We use a self-hosted instance of Plausible.
        <b>No user data or PII is collected or stored.</b>
      </p>
  </div>

  <!-- Error Tracking -->
  <div class="p-card p-4">
    <div class="flex justify-between w-full items-center">
      <h3 class="font-semibold text-lg m-0">Error Tracking</h3>
      <p-toggleButton
        formControlName="errorTracking"
        onLabel="Enabled"
        offLabel="Disabled"
        styleClass="px-3 py-2"
        [onIcon]="'pi pi-check-circle'"
        [offIcon]="'pi pi-minus-circle'"
      ></p-toggleButton>
      </div>
      <p class="opacity-85 m-0 mt-2">
        This sends us a stack trace when an error occurs, to help us identify and fix bugs.
      </p>
      <p class="opacity-85 m-0 mt-2">
        We use a self-hosted instance of GlitchTip.
        <b>No sensitive data should be collected or stored</b>
      </p>
  </div>

  <!-- Performance Monitoring -->
  <div class="p-card p-4">
    <div class="flex justify-between w-full items-center">
      <h3 class="font-semibold text-lg m-0">Performance Monitoring</h3>
      <p-toggleButton
        formControlName="errorTracking"
        onLabel="Enabled"
        offLabel="Disabled"
        styleClass="px-3 py-2"
        [onIcon]="'pi pi-check-circle'"
        [offIcon]="'pi pi-minus-circle'"
      ></p-toggleButton>
      </div>
      <p class="opacity-85 m-0 mt-2">
        Recoding of key performance metrics, such as page load times and resource usage.
        This helps us identify and fix performance bottlenecks, in order to help us develop a better user experience.
      </p>
      <p class="opacity-85 m-0 mt-2">
        We use a self-hosted instance of Uptrace.
        <b>No PII is collected or stored</b>
      </p>
  </div>

  <!-- Cookies -->
  <div class="p-card p-4">
    <div class="flex justify-between w-full items-center">
      <h3 class="font-semibold text-lg m-0">Cookies</h3>
      <p-toggleButton
        formControlName="cookies"
        onLabel="Enabled"
        offLabel="Disabled"
        styleClass="px-3 py-2"
        [onIcon]="'pi pi-check-circle'"
        [offIcon]="'pi pi-minus-circle'"
      ></p-toggleButton>
    </div>
      <p class="opacity-85 m-0 mt-2">
        We don't use any 1st or 3rd-party cookies to track or store any of your data.
      </p>
  </div>

  <!-- Local Storage -->
  <div class="p-card p-4">
    <div class="flex justify-between w-full items-center">
      <h3 class="font-semibold text-lg m-0">Local Storage</h3>
      <p-toggleButton
        formControlName="localStorage"
        onLabel="Enabled"
        offLabel="Disabled"
        styleClass="px-3 py-2"
        [onIcon]="'pi pi-check-circle'"
        [offIcon]="'pi pi-minus-circle'"
      ></p-toggleButton>
    </div>
    <p class="opacity-85 m-0 mt-2">
      We use local storage to store your local preferences and settings, as well as managing session timeout.
    </p>
    <p class="opacity-85 m-0 mt-2">
      It's not possible to disable this, as it's required for the app to function. But you can clear this data at any time.
    </p>
    <p-button
      label="Clear Local Storage"
      severity="warning"
      icon="pi pi-trash"
      styleClass="mt-4"
      (click)="clearLocalStorage()"></p-button>
  </div>

  <!-- Account -->
  <div class="p-card p-4">
    <div class="flex justify-between w-full items-center">
      <h3 class="font-semibold text-lg m-0">Account</h3>
    </div>
    <p class="opacity-85 m-0 mt-2">
      View our <a routerLink="/about/legal/privacy-policy">Privacy page</a> for more information
      on what data is collected, how it's stored and what it's used for.
      You can <a routerLink="/domains/export">export your data</a>
      and/or <a routerLink="/settings/delete-account">delete your account</a>
      (and all associated data) at any time.
    </p>
    <details>
      <summary class="text-sm text-gray-500 mt-2 cursor-pointer">Data Options</summary>
    
      <div class="flex gap-2">
        <a routerLink="/about/legal/privacy-policy">
          <p-button
            label="View Privacy Policy"
            severity="success"
            icon="pi pi-file-o"
            styleClass="mt-4"
          />
        </a>
        <a routerLink="/domains/export">
          <p-button
            label="Export Data"
            severity="info"
            icon="pi pi-download"
            styleClass="mt-4"
          />
        </a>
        <a routerLink="/settings/delete-account">
          <p-button
            label="Data Deletion Tools"
            severity="danger"
            icon="pi pi-exclamation-triangle"
            styleClass="mt-4"
          />
        </a>
      </div>

    </details>
  </div>
</div>
