
<p-selectButton
  [options]="groupByOptions" 
  [(ngModel)]="groupBy" 
  (onChange)="setNodeStyles()"
  optionLabel="label">
</p-selectButton>

<p-organizationChart [value]="chartData" [collapsible]="true" styleClass="tld-chart">
  <ng-template let-node pTemplate="tld">
    <div class="p-chart-node p-tld {{ node.styleClass }}">{{ node.label }}</div>
  </ng-template>
  <ng-template let-node pTemplate="domain">
    <div class="p-chart-node p-domain {{ node.styleClass }}" pTooltip="{{ node.data.tooltip }}" (click)="router.navigate([node.data.routerLink])">{{ node.label }}</div>
  </ng-template>
  <ng-template let-node pTemplate="subdomain">
    <div class="p-chart-node p-subdomain {{ node.styleClass }}">{{ node.label }}</div>
  </ng-template>
</p-organizationChart>
