<div class="container mx-auto">
  <h2 class="text-4xl font-semibold text-center my-2">Choose a plan that suits you</h2>
  <p class="text-lg italic text-gray-400 mx-auto my-4 text-center">
    Domain Locker is the all-in-one platform for keeping track of your domain names.
  </p>

  <app-pricing-cards [showFullPricing]="true" class="w-full" />

  <!-- Discount -->
  <div class="p-card px-2 py-6 mt-4">
    <div  class="max-w-[60rem] mx-auto my-2">
      <h2>Billing FAQ</h2>
      <p-accordion [activeIndex]="0">
        <p-accordionTab [header]="tab.question" *ngFor="let tab of billingFaq">
            <p class="m-0">
                {{ tab.answer }}
            </p>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <app-cta class="my-4" />
</div>
