
@if (big) {
  <footer class="w-full bg-surface-50 text-highlight py-1">
    <div class="m-2 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4">
      <div class="md:col-span-3 lg:col-span-2">
        <a class="mb-3 flex align-center gap-3 no-underline text-default" routerLink="/">
          <app-logo size="3rem" />
          <div class="flex-1">
            <p class="m-0 text-lg">{{ fc.name }}</p>
            <p class="m-0">{{ fc.description }}</p>
          </div>
        </a>
        <p-button
          *ngFor="let cta of fc.ctas"
          label="{{ cta.label }}"
          class="mr-3"
          styleClass="min-w-40"
          icon="{{ cta.icon }}"
          [routerLink]="cta.link"
          [queryParams]="cta.queryParams || {}"
          (click)="cta.click && cta.click()"
          [outlined]="!cta.isPrimary"
        />
      </div>
      <div>
        <ul class="list-none pl-0">
          <li *ngFor="let item of fc.left">
            <a *ngIf="item.link" routerLink="{{ item.link }}" class="text-primary">{{ item.label }}</a>
            <a *ngIf="item.href" href="{{ item.href }}" class="text-primary">{{ item.label }}</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="list-none pl-0">
          <li *ngFor="let item of fc.middle">
            <a *ngIf="item.link" routerLink="{{ item.link }}" class="text-primary">{{ item.label }}</a>
            <a *ngIf="item.href" href="{{ item.href }}" class="text-primary">{{ item.label }}</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="list-none pl-0">
          <li *ngFor="let item of fc.right">
            <a *ngIf="item.link" routerLink="{{ item.link }}" class="text-primary">{{ item.label }}</a>
            <a *ngIf="item.href" href="{{ item.href }}" class="text-primary">{{ item.label }}</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
} @else {
  <footer class="w-full bg-highlight py-1 opacity-60">
    <div class="w-full flex items-center align-center px-4 flex-wrap justify-center md:justify-between">
      <p class="m-0 text-xs opacity-90">
        <a href="#" class="text-default hover:text-primary">Domain Locker</a>
        <a class="no-underline text-default ml-1" routerLink="/advanced">V.{{appVersion}}</a>,
        is licensed under <a class="text-default hover:text-primary" href="https://github.com/Lissy93/domain-locker/blob/main/LICENSE">MIT</a> &copy;
        <a href="https://aliciasykes.com" class="text-default hover:text-primary">Alicia Sykes</a> {{ year }}
      </p>
      <p class="m-0 text-xs opacity-90">
        <a class="text-default hover:text-primary" href="https://github.com/lissy93/domain-locker">GitHub</a> |
        <a class="text-default hover:text-primary" routerLink="/about">Docs</a> |
        <a class="text-default hover:text-primary" routerLink="/about/legal">Legal</a> |
        <a class="text-default hover:text-primary" href="https://as93.net">More Apps →</a>
      </p>
    </div>
  </footer>
}
