<h1>All Subdomains</h1>
<p-progressSpinner *ngIf="loading"></p-progressSpinner>

<div *ngIf="!loading && domains.length">
  <div
    *ngFor="let d of domains"
    class="mt-4"
    appLazyLoad
    (visible)="loadSubdomainsForDomain(d)"
  >

    <!-- Domain name (link, icon, title) -->
    <h2>
      <a [routerLink]="'/assets/subdomains/' + d.name"
         class="no-underline text-default hover:text-primary">
        <app-domain-favicon [domain]="d.name" />
        {{ d.name }}
      </a>
    </h2>

    <!-- Subdomains spinner -->
    <p-progressSpinner *ngIf="d.loadingSubs" class="flex" />

    <!-- Show subdomains once loaded -->
    <app-subdomain-list
      *ngIf="!d.loadingSubs && d.subdomains.length; else no_subdomains"
      [domain]="d.name"
      [subdomains]="d.subdomains"
    ></app-subdomain-list>

    <!-- No subdomains configured for given domain -->
    <ng-template #no_subdomains>
      <div *ngIf="!d.loadingSubs" class="flex flex-col text-center items-center p-card py-4 gap-4 mt-3 mb-5">
        <p class="m-0 text-xl text-center italic text-surface-400">
          <i class="pi pi-info-circle text-xl mr-2"></i>
          No subdomains configured {{ d.name }} yet
        </p>
        <p-button
          label="Manage Subdomains"
          icon="pi pi-file-import"
          [routerLink]="'/assets/subdomains/'+d.name"
          size="small"
          [outlined]="true"
          severity="secondary"
          class="p-button-primary no-underline flex gap-2 w-fit font-medium"
        />
      </div>
    </ng-template>

  </div>
</div>

<p *ngIf="!loading && !domains.length">No domains found.</p>
